{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="container justify-content-center mt-3" style="padding-left: 2rem; padding-right: 2rem;">
        <div class="accordion" id="accordionExample">
            {% for batch, branchs in rank_links_data %}
                <div class="card mb-1 border-0" style="background-color: #dddddd">
                    <div class="row justify-content-center ">
                        <button class="btn btn-block" type="button" data-toggle="collapse"
                                data-target="#collapse_{{ forloop.counter }}"
                                aria-expanded="true" aria-controls="collapse_{{ forloop.counter }}">
                            {{ batch }}
                        </button>
                    </div>
                    <div id="collapse_{{ forloop.counter }}" class="collapse"
                         aria-labelledby="heading_{{ forloop.counter }}"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="container">
                                {% for branch in branchs %}
                                    <div class="row justify-content-center mb-1"
                                         style="background-color: #eeeeee;border: .1px solid grey; border-radius: 1rem;">
                                        <a class="btn btn-block"
                                           href="{% url 'web:batch_rank' batch branch %}"
                                           type="button">
                                            BRANCH: {{ branch }}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
