{% extends 'base/base.html' %}

{% block content %}
    <div class="container search-form" style="margin-top: 2%;">
        <div class="row justify-content-center" style="text-align: center; width: 100%; margin: 0px;">
            <div class="col-sm-6">
                <a href="#" class="btn btn-outline-secondary"><b>Button 1</b></a>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center" style="text-align: center; width: 100%; margin: 0px;">
            <div class="col-sm-6">
                <a href="#" class="btn btn-outline-secondary"><b>Button 2</b></a>
            </div>
        </div>
        <hr>
    </div>
{% endblock content %}